<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demand Forecasting</title>
    <style>
        .btn {
            width: 100px;
        }
    </style>
</head>
<body>
    <h1>카테고리별 수요예측</h1><br/>
    <div>
        <button id="snack" class="btn">과자</button>
        <button id="ramen" class="btn">라면</button>
        <button id="mask" class="btn">마스크</button>
        <button id="beer" class="btn">맥주</button>
        <button id="razor" class="btn">면도기</button>
        <button id="pad" class="btn">생리대</button>
        <button id="water" class="btn">생수</button>
        <button id="hangover_cure" class="btn">숙취해소제</button>
        <button id="stockings" class="btn">스타킹</button>
        <button id="icecream" class="btn">아이스크림</button>
        <button id="umbrella" class="btn">우산</button>
        <button id="soda" class="btn">탄산음료</button>
    </div>
    <hr/>
    <br/>
    <button id="back_page">이전 페이지로</button>

    <script type="text/javascript" src="/static/js/demand_forecasting.js"></script>
</body>
</html>